html {
    margin: 0;
    padding: 0;
    height: 99%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    font-family: sans-serif;
    background-color: #22211e;
    color: white;
    height: 99%;
    /* padding: 10px; */
    margin: 0;
    /* border: 1px solid black; */
    font-family: sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.wrapper {
    display: flex;
    flex-direction: column;
    /* height: 78.5%; */
}

ul {
    flex: 1;
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: start; */
    background-color: #2e2c28;
    max-height: 72vh;
    /* height: 600px; */
    padding: 0;
    overflow-x: scroll;
    overflow-y: scroll;
}

li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
    /* width: 350px; */
    font-size: large;
    overflow-x: scroll;
}

li:hover {
    background: #49463e;
    transition: 500ms;
}

.trash:hover {
    color: red;
    transition: 500ms;
}

.copyicon:hover {
    color: grey;
    transition: 500ms;
}

.imagepath {
    color: white;
}

.imagepath:hover {
    color: green;
    background-color: none;
    transition: 200ms;
}

.active {
    background-color: rgb(61, 61, 236);
    /* border: 5px solid green; */
    /* mix-blend-mode: overlay; */
    transition: ease-in 200ms;
}

.active:hover {
    background-color: rgb(61, 61, 236);
    /* border: 5px solid green; */
    /* mix-blend-mode: overlay; */
    /* transition: ease-in 200ms; */
}

.title-head {
    text-decoration: none;
    color: white;
}

.title-head :hover {
    color: #cccaca;
    cursor: pointer;
}

p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    margin-left: 1rem;
    margin-right: 0.25rem;
    font-size: xx-large;
    letter-spacing: 1px;
}

h4 {
    color: #dad5d5;
}

span {
    margin-left: 1rem;
    overflow-x: scroll;
}

i {
    font-size: 1rem;
    margin-right: 10px;
}

input {
    border: 0px solid #36342e;
    background-color: #36342e;
    width: 1000px;
    color: white;
    padding: 5px;
    font-size: large;
    font-weight: bolder;
    margin-left: 3px;
}

button {
    background-color: #292825;
    /* color: white;
    border: 2px white solid; */
    border-radius: 10px;
    padding: 5px;
    margin-left: 3px;
}

#btngroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#add {
    color: green;
    border: 2px green solid;
}

#add:hover {
    background-color: green;
    border-color: green;
    color: white;
    /* padding: 7px; */
    /* letter-spacing: 1px; */
    transition: 500ms;
}

#clear {
    color: red;
    border: 2px solid red;
}

#clear:hover {
    background-color: red;
    border-color: red;
    color: white;
    /* padding: 7px; */
    /* letter-spacing: 1px; */
    transition: 500ms;
}

.devlink {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.devlink:hover {
    color: #efefef;
    text-decoration: underline;
}

::-webkit-scrollbar {
    height: 0px;
    width: 10px;
    background-color: #36342e;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: rgb(100, 98, 98);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(78, 77, 77);
}